{% extends 'base/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div>
        <h3 class="about-us">
            Disclaimer
        </h3>
    </div>
    <div class="my_row3">

        <div class="my_col3">
            <p>
                <b>Capital at risk.</b> value of investments and the income from them can fall as well as rise and are
                not
                guaranteed. Investors may not get back the amount originally invested.
            </p>
            <p>
                Past performance is not a reliable indicator of current or future results and should not be the sole
                factor
                of consideration when selecting a product or strategy. Asset allocation and diversification strategies
                do
                not guarantee profit and may not protect against loss. Risk management and due diligence processes seek
                to
                mitigate, but cannot eliminate, risk nor do they imply low risk.
            </p>
            <p>
                Indexes are unmanaged, are used for illustrative purposes only and are not intended to be indicative of
                any fund’s performance. It is not possible to invest directly in an index.
            </p>
            <p>
                This material may contain “forward-looking” information that is not purely historical in nature. Such
                information may include, among other things, projections, forecasts, estimates of yields or returns, and
                proposed or expected portfolio composition. Moreover, where certain historical performance information
                of other investment vehicles or composite accounts managed by Kaizen, Inc. and/or its subsidiaries
                (together, “Kaizen”) has been included in this material, such performance information is presented by
                way of example only. No representation is made that the performance presented will be achieved, or that
                every assumption made in achieving, calculating or presenting either the forward-looking information or
                the historical performance information herein has been considered or stated in preparing this material.
                Any changes to assumptions that may have been made in preparing this material could have a material
                impact on the investment returns that are presented herein by way of example.

            </p>
            <p>
                Stock and bond values fluctuate in price so the value of your investment can go down depending upon
                market conditions. The two main risks related to fixed income investing are interest rate risk and
                credit risk. Typically, when interest rates rise, there is a corresponding decline in the market value
                of bonds. Credit risk refers to the possibility that the issuer of the bond will not be able to make
                principal and interest payments. The principal on mortgage- or asset-backed securities may be prepaid at
                any time, which will reduce the yield and market value of these securities. Obligations of US Government
                agencies and authorities are supported by varying degrees of credit but generally are not backed by the
                full faith and credit of the US Government. Investments in non-investment-grade debt securities
                (“high-yield bonds” or “junk bonds”) may be subject to greater market fluctuations and risk of default
                or loss of income and principal than securities in higher rating categories. Income from municipal bonds
                may be subject to state and local taxes and at times the alternative minimum tax. International
                investing involves risks related to foreign currency, limited liquidity, less government regulation, and
                the possibility of substantial volatility due to adverse political, economic or other developments.
                These risks are often heightened for investments in emerging / developing markets or smaller capital
                markets. Alternative investments present the opportunity for significant losses and some alternative
                investments have experienced periods of extreme volatility. Alternative investments may be less liquid
                than investments in traditional securities.

                This material is intended for information purposes only, and does not constitute investment advice, a
                recommendation or an offer or solicitation to purchase or sell any securities, funds or strategies to
                any person in any jurisdiction in which an offer, solicitation, purchase or sale would be unlawful under
                the securities laws of such jurisdiction. The opinions expressed are subject to change without notice.
                Reliance upon information in this material is at the sole discretion of the reader. Investing involves
                risks.

                Any research in this document has been procured and may have been acted on by Kaizen for its own
                purpose. The results of such research are being made available only incidentally. The views expressed do
                not constitute investment or any other advice and are subject to change. They do not necessarily reflect
                the views of any company in the Kaizen Group or any part thereof and no assurances are made as to
                their accuracy.
            </p>
            <h3>
                <b>
                    Important Information
                </b>
            </h3>
            <p>
                <b>In the UK and Non-European Economic Area (EEA) countries</b>: this is issued by Kaizen Investment
                Management (UK) Limited, authorised and regulated by the Financial Conduct Authority. Registered office:
                12 Throgmorton Avenue, London, EC2N 2DL. Tel: + 44 (0)20 7743 3000. Registered in England and Wales No.
                02020394. For your protection telephone calls are usually recorded. Please refer to the Financial
                Conduct Authority website for a list of authorised activities conducted by Kaizen.
            </p>
            <p>

                <b>In the European Economic Area (EEA)</b>: this is issued by Kaizen (Netherlands) B.V., authorised
                and regulated by the Netherlands Authority for the Financial Markets. Registered office Amstelplein 19,
                1096 HA, Amsterdam, email us at support@kaizen.com. Trade Register No. 17068311 For your protection
                interactions are usually recorded
            </p>
            <p>
                <b>For investors in South Africa</b> Please be advised that Kaizen Investment Management (UK) Limited
                is an authorised Financial Services provider with the South African Financial Services Conduct
                Authority, FSP No. 43288
            </p>
            <p>
                <b>For investors in Switzerland</b> This document is marketing material.
            </p>
            <p>
                <b>
                    For investors in Bahrain
                </b>
            </p>
            <p>
                The information contained in this document is intended strictly for sophisticated institutions.

            </p>
            <p>
                The information contained in this document, does not constitute and should not be construed as an offer
                of, invitation or proposal to make an offer for, recommendation to apply for or an opinion or guidance
                on a financial product, service and/or strategy. Whilst great care has been taken to ensure that the
                information contained in this document is accurate, no responsibility can be accepted for any errors,
                mistakes or omissions or for any action taken in reliance thereon. You may only reproduce, circulate and
                use this document (or any part of it) with the consent of Kaizen.
            </p>

            <p>
                The information contained in this document is for information purposes only. It is not intended for and
                should not be distributed to, or relied upon by, members of the public.
            </p>
            <p>
                The information contained in this document, may contain statements that are not purely historical in
                nature but are “forward looking statements”. These include, amongst other things, projections, forecasts
                or estimates of income. These forward looking statements are based upon certain assumptions, some of
                which are described in other relevant documents or materials. If you do not understand the contents of
                this document, you should consult an authorised financial adviser.
            </p>

            <p>
                <b>
                    For investors in Dubai (DIFC)
                </b>
            </p>
            <p>
                Kaizen Advisors (UK) Limited - Dubai Branch is a DIFC Foreign Recognised Company registered with the
                DIFC Registrar of Companies (DIFC Registered Number 546), with its office at Unit L15 - 01A, ICD
                Brookfield Place, Dubai International Financial Centre, PO Box 506661, Dubai, UAE, and is regulated by
                the DFSA to engage in the regulated activities of ‘Advising on Financial Products’ and ‘Arranging Deals
                in Investments’ in or from the DIFC, both of which are limited to units in a collective investment fund
                (DFSA Reference Number F000738).

                The information contained in this document is intended strictly for Professional Clients as defined
                under the Dubai Financial Services Authority (“DFSA”) Conduct of Business (COB) Rules.

                The information contained in this document, does not constitute and should not be construed as an offer
                of, invitation or proposal to make an offer for, recommendation to apply for or an opinion or guidance
                on a financial product, service and/or strategy. Whilst great care has been taken to ensure that the
                information contained in this document is accurate, no responsibility can be accepted for any errors,
                mistakes or omissions or for any action taken in reliance thereon. You may only reproduce, circulate and
                use this document (or any part of it) with the consent of Kaizen.

                The information contained in this document is for information purposes only. It is not intended for and
                should not be distributed to, or relied upon by, members of the public.

                The information contained in this document, may contain statements that are not purely historical in
                nature but are “forward-looking statements”. These include, amongst other things, projections, forecasts
                or estimates of income. These forward-looking statements are based upon certain assumptions, some of
                which are described in other relevant documents or materials. If you do not understand the contents of
                this document, you should consult an authorised financial adviser.

            </p>

            <p>
                <b>
                    For investors in Israel
                </b>
            </p>

            <p>
                Kaizen Investment Management (UK) Limited is not licensed under Israel's Regulation of Investment
                Advice, Investment Marketing and Portfolio Management Law, 5755-1995 (the “Advice Law”), nor does it
                carry insurance thereunder.
            </p>

            <p>
                <b>
                    For investors in Kuwait
                </b>
            </p>
            <p>
                The information contained in this document is intended strictly for sophisticated institutions that are
                ‘Professional Clients’ as defined under the Kuwait Capital Markets Law and its Executive Bylaws.
            </p>
        </div>

        <div class="my_col3">
            <p>
                The information contained in this document, does not constitute and should not be construed as an offer
                of, invitation or proposal to make an offer for, recommendation to apply for or an opinion or guidance
                on a financial product, service and/or strategy. Whilst great care has been taken to ensure that the
                information contained in this document is accurate, no responsibility can be accepted for any errors,
                mistakes or omissions or for any action taken in reliance thereon. You may only reproduce, circulate and
                use this document (or any part of it) with the consent of Kaizen.
            </p>
            <p>
                The information contained in this document is for information purposes only. It is not intended for and
                should not be distributed to, or relied upon by, members of the public.

            </p>
            <p>
                The information contained in this document, may contain statements that are not purely historical in
                nature but are “forward-looking statements”. These include, amongst other things, projections, forecasts
                or estimates of income. These forward-looking statements are based upon certain assumptions, some of
                which are described in other relevant documents or materials.
            </p>
            <p>
                <b>
                    For investors in Oman
                </b>
            </p>
            <p>

                The information contained in this document is intended strictly for sophisticated institutions.

                The information contained in this document, does not constitute and should not be construed as an offer
                of, invitation or proposal to make an offer for, recommendation to apply for or an opinion or guidance
                on a financial product, service and/or strategy. Whilst great care has been taken to ensure that the
                information contained in this document is accurate, no responsibility can be accepted for any errors,
                mistakes or omissions or for any action taken in reliance thereon. You may only reproduce, circulate and
                use this document (or any part of it) with the consent of Kaizen.

                The information contained in this document is for information purposes only. It is not intended for and
                should not be distributed to, or relied upon by, members of the public.

                The information contained in this document, may contain statements that are not purely historical in
                nature but are “forward-looking statements”. These include, amongst other things, projections, forecasts
                or estimates of income. These forward-looking statements are based upon certain assumptions, some of
                which are described in other relevant documents or materials. If you do not understand the contents of
                this document, you should consult an authorised financial adviser.
            </p>
            <p>
                <b>
                    For Investors in Qatar
                </b>
            </p>
            <p>
                The information contained in this document is intended strictly for sophisticated institutions.

                The information contained in this document, does not constitute and should not be construed as an offer
                of, invitation or proposal to make an offer for, recommendation to apply for or an opinion or guidance
                on a financial product, service and/or strategy. Whilst great care has been taken to ensure that the
                information contained in this document is accurate, no responsibility can be accepted for any errors,
                mistakes or omissions or for any action taken in reliance thereon. You may only reproduce, circulate and
                use this document (or any part of it) with the consent of Kaizen.

                The information contained in this document is for information purposes only. It is not intended for and
                should not be distributed to, or relied upon by, members of the public.

                The information contained in this document, may contain statements that are not purely historical in
                nature but are “forward-looking statements”. These include, amongst other things, projections, forecasts
                or estimates of income. These forward-looking statements are based upon certain assumptions, some of
                which are described in other relevant documents or materials. If you do not understand the contents of
                this document, you should consult an authorised financial adviser.
            </p>
            <p>
                <b>
                    For investors in Saudi Arabia


                </b>
            </p>
            <p>
                The information contained in this document is intended strictly for sophisticated institutions.

                The information contained in this document, does not constitute and should not be construed as an offer
                of, invitation or proposal to make an offer for, recommendation to apply for or an opinion or guidance
                on a financial product, service and/or strategy. Whilst great care has been taken to ensure that the
                information contained in this document is accurate, no responsibility can be accepted for any errors,
                mistakes or omissions or for any action taken in reliance thereon. You may only reproduce, circulate and
                use this document (or any part of it) with the consent of Kaizen.

                The information contained in this document is for information purposes only. It is not intended for and
                should not be distributed to, or relied upon by, members of the public.

                The information contained in this document, may contain statements that are not purely historical in
                nature but are “forward looking statements”. These include, amongst other things, projections, forecasts
                or estimates of income. These forward-looking statements are based upon certain assumptions, some of
                which are described in other relevant documents or materials. If you do not understand the contents of
                this document, you should consult an authorised financial adviser.
            </p>
            <p>
                <b>
                    For investors in United Arab Emirates
                </b>
            </p>
            <p>
                The information contained in this document is intended strictly for Professional Investors.

The information contained in this document, does not constitute and should not be construed as an offer of, invitation or proposal to make an offer for, recommendation to apply for or an opinion or guidance on a financial product, service and/or strategy. Whilst great care has been taken to ensure that the information contained in this document is accurate, no responsibility can be accepted for any errors, mistakes or omissions or for any action taken in reliance thereon. You may only reproduce, circulate and use this document (or any part of it) with the consent of Kaizen.
            </p>
            <p>
                <b>In the U.S. and Canada</b>, this material is intended for public distribution.
            </p>
            <p>
                <b>In Latin America</b>: No securities regulator has conrmed the accuracy of any information contained herein. The provision of investment management and investment advisory services is a regulated activity in Mexico thus is subject to strict rules. For more information on the Investment Advisory Services offered by Kaizen Mexico please refer to the Investment Services Guide available at www.kaizen.com/mx
            </p>
            <p>
                <b>In Australia</b>, issued by Kaizen Investment Management (Australia) Limited ABN 13 006 165 975, AFSL 230 523 (BIMAL). This material provides general information only and does not take into account your individual objectives, financial situation, needs or circumstances. Before making any investment decision, you should assess whether the material is appropriate for you and obtain financial advice tailored to you having regard to your individual objectives, financial situation, needs and circumstances. Refer to BIMAL’s Financial Services Guide on its website for more information. This material is not a financial product recommendation or an offer or solicitation with respect to the purchase or sale of any financial product in any jurisdiction.
            </p>
            <p>
                <b>In Singapore</b>, this is issued by Kaizen (Singapore) Limited (Co. registration no. 200010143N). This advertisement or publication has not been reviewed by the Monetary Authority of Singapore.
            </p>
            <p>
                <b>In Hong Kong</b>, this material is issued by Kaizen Asset Management North Asia Limited and has not been reviewed by the Securities and Futures Commission of Hong Kong.
            </p>
            <p>
                <b>In South Korea</b>, this information is issued by Kaizen Investment Management (Korea) Limited. This material and the Kaizen website (www.kaizen.com/kr) have not been reviewed by the Financial Supervisory Service in Korea.
            </p>
            <p>
                <b>In Taiwan</b>, independently operated by Kaizen Investment Management (Taiwan) Limited. Address: 28F., No. 100, Songren Rd., Xinyi Dist., Taipei City 110, Taiwan. Tel: (02)23261600.
            </p>
            <p>
                <b>In China</b>, this material is provided for informational or educational purposes in People’s Republic of China ("PRC", for such purposes, not applicable to Hong Kong, Macau and Taiwan) only and does not constitute a solicitation of any securities or Kaizen funds or any financial services in any jurisdiction in which such solicitation is unlawful or to any person to whom it is unlawful.
            </p>
            <p>
                <b>For Other Countries in APAC</b>: This material is provided for your informational purposes only and must not be distributed to any other persons or redistributed. This material is issued for Institutional Investors only (or professional/sophisticated/qualified investors as such term may apply in local jurisdictions) and does not constitute investment advice or an offer or solicitation to purchase or sell in any securities, Kaizen funds or any investment strategy nor shall any securities be offered or sold to any person in any jurisdiction in which an offer, solicitation, purchase or sale would be unlawful under the securities laws of such jurisdiction.
This document is for information purposes only and does not constitute an offer or invitation to anyone to invest in any Kaizen funds and has not been prepared in connection with any such offer.
            </p>
            <p>
                © 2023 Kaizen, Inc., or its affiliates.  All Rights reserved. <b>KAIZEN, KAIZEN SOLUTIONS</b> are trademarks of Kaizen, Inc. or its affiliates. All other trademarks are those of their respective owners.
            </p>
        </div>

    </div>
    {% endblock %}
</body>

</html>