{% extends 'base/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div>
        <h1 class="about-us">
            Global Impact
        </h1>
    </div>
    <div class="container">
        <h1>

            Worldwide reach. Local service
            and relationships.
        </h1>
        <p class="about-text">
            With 70 offices in 30 countries, {{company_name.name}} is a truly global firm that can combine the benefits of worldwide
            reach with local service and relationships. We manage assets for clients in North and South America, Europe,
            Asia, Australia, the Middle East and Africa.
        </p>

    </div>
    <div style="margin: 5%;">

        <h3>
            Over 70 offices in more than 30 countries
        </h3>
        <img src="{% static 'images/countriess.png' %}" alt="countries" class="countries" />

    </div>

    <div style="margin: 5%;">

        <h3>
            100+ countries where we have clients

        </h3>
        <img src="{% static 'images/countries.png' %}" alt="countries" class="countries" />

    </div>

    <div class='container'>
        <h1>
            Clients and partners

        </h1>
        <p>
            {{company_name.name}} is trusted by clients of all types, from individual investors from all walks of life to pension
            funds, endowments, foundations and sovereign wealth funds as well as companies and governments facing
            significant financial challenges.
        </p>

        <div class="my_row2">
            <div class="my_col2">
                <img src="{% static 'images/pointer.png' %}" alt="we work for" />
                <h3>
                    We work for
                </h3>
                <ul>
                    <li>Foundations</li>
                   <li> Doctors and nurses</li>
                   <li> Firefighters and teachers </li>
                    <li>Parents and grandparents </li>
                    <li>Sovereign wealth & pension funds</li>
                </ul>
            </div>


            <div class="my_col2">
                <img src="{% static 'images/text-box.png' %}" alt="we work for" />
                <h3>
                    We've advised
                </h3>
                <ul>
                    <li>
                        AIG
                    </li>
                    <li>
                        UBS
                    </li>
                    <li>
                        Bank of Greece

                    </li>
                    <li>
                        Her Majesty's Treasury

                    </li>
                    <li>
                        Central Bank of Ireland

                    </li>
                    <li>
                        Federal Reserve Bank of Frankfurt

                    </li>
                </ul>
                    
            </div>



            <div class="my_col2">
                <img src="{% static 'images/advisor.png' %}" alt="we work for" />
                <h3>
                    We partner with

                </h3>
                <ul>
                   <li> Foundations</li>
                   <li> Doctors and nurses </li>
                   <li> Firefighters and teachers </li>
                   <li> Parents and grandparents</li>
                    <li>Sovereign wealth & pension funds</li>
                </ul>
            </div>

        </div>

        <div>
            <h3>
                Assets managed for clients in 100 countries
            </h3>
            <img src="{% static 'images/ratio.png' %}" alt="assets managed" class="countries"/>
        </div>
        <small>
            All figures as of March 31, 2020
        </small>
    </div>

    {% endblock %}
</body>

</html>