{% extends 'base/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{company_name.name}}</title>
</head>

<body>
    {% block content %}
    <div class="about-us">
        <h1 class="about-us">
            We're always here for you.
        </h1>
        <p>
            <b>
                The money we manage is not our own.
            </b>
            We manage funds belonging to numerous individuals across diverse locations, all striving to achieve their
            critical financial objectives. Our organization operates through multiple offices globally, combining local
            expertise with worldwide service.
        </p>
    </div>
    <br>
    <div class="my_row">

        <div class="my_col letter" style="height: 450px;">
            <p class="invite">
                Read our Annual Letter to Investors
            </p>


            <p>
                In this letter to investors, we talk about how we can “rethink retirement” and why we
                believes the capital markets can help meet the needs of tomorrow’s retirees.
            </p>
         
                <a class="btn btn-primary learn" href="{% url 'base:letter' %}">
                Read Letter
            </a>
          
        </div>


        <div class="my_col">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'images/letter.jpg' %}" style="height: 450px;" class="d-block w-100"
                            alt="trusted partners">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/analysis.jpg' %}" style="height: 450px;" class="d-block w-100"
                            alt="best analysis">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/partners.jpg' %}" style="height: 450px;" class="d-block w-100"
                            alt="safe and sure">
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="my_row2">

        <div class="my_col2">
            <h1>
                Adapting {{company_name.name}} for our clientele.
            </h1>
            <p>
                We consistently strive to implement optimal adjustments aimed at assisting our clients in achieving
                their investment, portfolio, and business objectives.
            </p>
        </div>


        <div class="my_col2">
            <h1>
                Transitioning to a low-carbon economy through investments.
            </h1>
            <p>
                Clients seek our insights on enduring global trends, notably the shift towards a low-carbon economy. We
                have proactively taken the lead in addressing these concerns.
            </p>
        </div>


        <div class="my_col2">
            <h1>
                Enhancing shareholder democracy.
            </h1>
            <p>
                We are dedicated to a future where every investor has the option to participate in proxy voting. Please
                contact your personal account advisor to learn more about how we are implementing this through
                {{company_name.name}} Voting Choice.
            </p>
        </div>

    </div>


    <div class="my_row3">

        <div class="my_col3">
            <h1>
                The consequences of an aging population
            </h1>
            <p>
                We monitor the economic implications of aging, including the associated investment opportunities and
                risks. A declining working-age population constrains countries' productivity and growth potential unless
                they innovate and adapt accordingly.
            </p>
        </div>


        <div class="my_col3">
            <h1>
                Weekly market analysis
            </h1>
            <p>
                Keep informed with insights on current trends, key financial market topics, and our comprehensive asset
                class perspectives through the Weekly commentary provided by the {{company_name.name}} Investment
                Institute. Explore the latest market insights in our Newsroom.
            </p>
        </div>

    </div>



    <div class="container about">
        <h1>
            About {{company_name.name}}
        </h1>
        <p>
            {{company_name.name}} is globally recognized for delivering investment, advisory, and risk management
            solutions as a fiduciary to our clients. Our commitment involves investing in the future for our clients,
            motivating our employees, and contributing to our local communities.
        </p>
        <a class="learn" href="{% url 'base:about-us' %}">
            Learn more
        </a>
    </div>



    <div class="container my_row3">
        <div class="media extra my_col3">
            <img src="{% static 'images/idea.png' %}" class="align-self-center mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">Stewardship of investments</h5>
                <p>We collaborate with companies to guide our voting decisions and advocate for robust corporate
                    governance practices that align with sustainable financial value creation over the long term.</p>
                <a class="mb-0 learn" href="{% url 'base:kis' %}">Learn more</a>
            </div>
        </div>


        <div class="media extra my_col3">
            <img src="{% static 'images/group.png' %}" class="align-self-center mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">Business sustainability</h5>
                <p>We prioritize the enduring sustainability of {{company_name.name}} to ensure ongoing value creation
                    for our clients, shareholders, employees, and communities alike.</p>
                <a class="mb-0 learn" href="{% url 'base:sustainability' %}"> Learn more</a>
            </div>
        </div>

    </div>




    <div class="info">
        <p class="info">
            This material is intended for information purposes only, and does not constitute investment advice, a
            recommendation or an offer or solicitation to purchase or sell any securities, funds or strategies to any
            person in any jurisdiction in which an offer, solicitation, purchase or sale would be unlawful under the
            securities laws of such jurisdiction. The opinions expressed are subject to change without notice. Reliance
            upon information in this material is at the sole discretion of the reader. Investing involves risks.
        </p>
        <p class="info">
            In the <b>UK and inside the EEA</b>: Until 31 December 2020, issued by {{company_name.name}} Investment
            Management (UK)
            Limited, authorised and regulated by the Financial Conduct Authority. Registered office: 64 Throgmorton
            Avenue, London, EC2N 2DL. Reach out to us at uk-reachout@{{company_name.name}}.com. Registered in England
            and Wales No.
            02020394. For your
            protection, all interactions are usually recorded. Please refer to the Financial Conduct Authority website
            for
            a list of authorised activities conducted by {{company_name.name}}. From 1 January 2021, in the event the
            United Kingdom
            and the European Union do not enter into an arrangement which permits United Kingdom firms to offer and
            provide financial services into the European Economic Area, the issuer of this material is:
            {{company_name.name}}
            Investment Management (UK) Limited for all outside of the European Economic Area; and (ii)
            {{company_name.name}}
            (Netherlands) B.V. for in the European Economic Area, {{company_name.name}} (Netherlands) B.V. is authorised
            and
            regulated by the Netherlands Authority for the Financial Markets. Registered office Amstelplein 10, 1271 HA,
            Amsterdam. For more information, email us @ more-info-to-amsterdan@{{company_name.name}}.com. Trade Register
            No. 17068311
            For your protection
            telephone conversations are usually recorded.
        </p>
        <p class="info">
            In <b>Switzerland</b>: This document is marketing material. Issued by {{company_name.name}} Investment
            Management (UK)
            Limited,
            authorised and regulated by the Financial Conduct Authority. Registered office: 64 Throgmorton Avenue,
            London, EC2N 2DL. Reach out to us at uk-reachout@{{company_name.name}}.com. Registered in England and Wales
            No. 02020394.
            For your
            protection, all interactions are usually recorded.
        </p>
        <p class="info">
            In the <b>U.S. and Canada</b>, this material is intended for public distribution.
        </p>
        <p class="info">
            In <b>Latin America</b>: No securities regulator has confirmed the accuracy of any information contained
            herein.
            The provision of investment management and investment advisory services is a regulated activity in Mexico
            thus is subject to strict rules. For more information on the Investment Advisory Services offered by
            {{company_name.name}} Mexico please refer to the Investment Services Guide available at
            www.{{company_name.name}}.com/mx
        </p>

        <p class="info">
            In <b>Singapore</b>, this is issued by {{company_name.name}} (Singapore) Limited (Co. registration no.
            200010143N). This
            advertisement or publication has not been reviewed by the Monetary Authority of Singapore.
        </p>

        <p class="info">
            In <b>Hong Kong</b>, this material is issued by {{company_name.name}} Asset Management North Asia Limited
            and has not been
            reviewed by the Securities and Futures Commission of Hong Kong.
        </p>
        <p class="info">
            In <b>South Korea</b>, this is issued by {{company_name.name}} Investment Management (Korea) Limited. For
            information or
            educational purposes only, not for reuse, redistribution, or any commercial activity, and does not
            constitute investment advice or an offer or solicitation to purchase or sells in any securities or any
            investment strategies.
        </p>
        <p class="info">
            In <b>Taiwan</b>, independently operated by {{company_name.name}} Investment Management (Taiwan) Limited.
            Address: 8F., No.
            120, Songren Rd., Xinyi Dist., Taipei City 110, Taiwan. Email: taiwan-reach-out@{{company_name.name}}.com
        </p>

        <p class="info">
            In <b>Australia</b>, issued by {{company_name.name}} Investment Management (Australia) Limited ABN 13 293
            628 657 AFP00L
            229 553
            (KIMAL). The material provides general information only and does not take into account your individual
            objectives, financial situation, needs or circumstances.
        </p>

        <p class="info">
            In <b>China</b>, this material is provided for informational or educational purposes in People’s Republic of
            China
            ("PRC", for such purposes, excluding Hong Kong, Macau and Taiwan) only and does not constitute a
            solicitation of any securities or {{company_name.name}} funds or any financial services in any jurisdiction
            in which
            such solicitation is unlawful or to any person to whom it is unlawful.
        </p>

        <p class="info">
            ©2024 {{company_name.name}}, Inc. All Rights Reserved. <b
                style="text-transform: capitalize;">{{company_name.name}}</b> is a trademark of {{company_name.name}},
            Inc., or its subsidiaries
            in the United States and elsewhere. All other trademarks are those of their respective owners.
        </p>

        <p class="info">
            KIIM0424U/M-3513223
        </p>
    </div>

    {% endblock %}
</body>

</html>