{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div>
    <h1 class="about-us">
        Time to rethink the idea of retirement
    </h1>
    <div class="container">
        <p>
            Rethinking retirement can involve considering various factors such as financial planning, lifestyle choices,
            and
            evolving personal goals. It's a good idea to periodically review retirement plans to ensure they align with
            current circumstances and aspirations. This could involve reassessing savings and investments, exploring new
            opportunities for income generation or leisure activities, and adjusting strategies to achieve a fulfilling
            retirement. We strongly believe each person's approach to retirement planning should be tailored to their
            unique
            situation and
            long-term objectives.
        </p>

        <p>
            If you calculate it, someone who invested $1,000 in the S&P 500 in 1960 would have seen that amount grow to
            nearly $20,000 by their retirement age in 1990. That's over twice the amount they would have earned if they
            had
            simply deposited the money in a bank account. It would have allowed them to retire earlier, live longer, and
            enjoy more comfortable lives—up to 20 years longer.
        </p>
        <p>
            As we observe the world and the financial challenges people face today, it reinforces the personal reasons
            behind our actions. Yes, we were driven entrepreneurs aiming to build a thriving company. However, our
            deeper motivation was to assist others in achieving retirement goals similar to our own. This led us to
            establish an asset management firm, dedicated to guiding individuals in investing in capital markets. We
            firmly believed that engaging in these markets would be essential for those seeking a secure and comfortable
            retirement.
        </p>
        <p>
            We were also convinced that the capital markets would increasingly dominate the global economy. Enabling
            broader participation in these markets would initiate a positive economic cycle, driving growth for both
            companies and nations and thereby creating wealth for millions more individuals.
        </p>

        <p>
            Few people live their later years with dignity and financial freedom. This opportunity eludes most
            individuals, but it doesn't have to. The same markets that have historically benefited a privileged few can
            provide opportunities for others today. I believe that the capital markets, with their ability to foster
            growth and prosperity, will continue to be a pivotal economic force throughout the remainder of the 21st
            century.
        </p>
        <br>
        <p>
            <b>
                This letter attempts to explain why.
            </b>
        </p>

        <h1>
            A brief (and admittedly incomplete) history of the capital markets
        </h1>
        <div>
            <p>
                In finance, there are two fundamental approaches to acquiring or increasing wealth.
            </p>
            <p>
                One traditional method is through banks, which historically served as the primary source. Individuals
                deposited savings to earn interest or borrowed funds for purposes like purchasing homes or expanding
                businesses. However, another avenue for financing emerged, particularly in the U.S., with the rise of
                capital markets. These markets involve publicly traded stocks, bonds, and various securities.
            </p>
            <p>
                Before the 1970s, the majority of people obtained home financing through institutions similar to the
                Building & Loan (B&L) depicted in the classic film *It’s a Wonderful Life*. Customers deposited their
                savings into these institutions, which functioned much like banks. The B&L would then use these deposits
                to provide mortgage loans to borrowers.
            </p>

            <p>
                In both the movie and actual practice, everything operates smoothly until a situation arises where
                individuals begin queuing at the bank's entrance, seeking withdrawal of their deposits. As depicted by
                Jimmy Stewart in the film, the bank was unable to immediately return their funds as they were invested
                in other borrowers' homes.
            </p>



            <p>
                Following the Great Depression, Building & Loans (B&Ls) evolved into Savings & Loans (S&Ls), which faced
                a crisis in the 1980s. By 1980, S&Ls held approximately half of all home mortgages in the U.S., but
                inadequate risk management and lenient lending practices resulted in numerous failures that cost U.S.
                taxpayers over $100 billion.
            </p>
            <p>

                Despite the S&L crisis, the U.S. economy did not sustain lasting damage. This was due to the
                simultaneous strengthening of an alternative financing method: the capital markets. Capital markets
                provided a pathway to redirect capital back into struggling real estate markets through mortgage
                securitization.
            </p>
            <p>


                Mortgage securitization enabled banks not only to originate mortgages but also to sell them. This
                practice helped banks mitigate risk on their balance sheets and freed up capital for lending to
                homebuyers, thereby mitigating the impact of the S&L crisis on American homeownership.

            </p>
            <p>
                However, the excesses of mortgage securitization eventually contributed to the 2008 financial crash,
                which unlike the S&L crisis, did have a detrimental effect on U.S. homeownership. The country has yet to
                fully recover in this regard. Nevertheless, the broader trend of expanding capital markets continued to
                play a crucial role in supporting the American economy.
            </p>
            <p>
                <b>
                    In fact, it is worth pondering: Why did the U.S. recover from the 2008 financial crisis faster than
                    nearly any other developed nation?
                </b>
            </p>

            <p>
                <b>

                    A significant part of the answer lies in the country's robust capital markets.

                </b>
            </p>
            <p>
                In Europe, where the majority of assets were held in banks, economies stagnated as banks were compelled
                to
                reduce their balance sheets. While U.S. banks also faced tightened capital standards and reduced
                lending,
                the nation's more robust secondary funding source—the capital markets—enabled a faster recovery.
            </p>
            <p> Today, public equities and bonds contribute over 70% of financing for non-financial corporations in the
                U.S., surpassing any other country globally. In contrast, in China, bank loans account for approximately
                65%
                of corporate financing, illustrating a nearly opposite ratio compared to the U.S.
            </p>
            <p>
                In our view, this underscores the most significant lesson from recent economic history: <b> Nations
                    aspiring
                    to
                    prosperity require not only strong banking systems but also robust capital markets. </b>
            </p>
            <p>This important lesson is now resonating globally, and it would be prudent to take note.
            </p>
            <h3 class="about">
                <b> Retirement</b> is a much harder proposition than it was 30 years ago. And it’ll be a much harder
                proposition 30 years from now
            </h3>



            <h2>
                Posing the age-old question: How can we finance longer lives?
            </h2>
            <p>
                Last year, Japan reached a significant demographic milestone as over 10% of its population surpassed 80
                years old, marking it as the "oldest country in the world" by United Nations standards. This demographic
                shift has prompted the Japanese government to emphasize retirement investment.
            </p>
            <p>
                Traditionally, most Japanese retirees have kept the bulk of their savings in low-interest bank accounts,
                a
                strategy that served well during periods of deflation but may now limit potential gains as Japan's
                economy
                rebounds, as evidenced by the NIKKEI surpassing 40,000 in March 2024.
            </p>
            <p>
                Despite historical constraints, Japan has taken steps to encourage retirement savings, such as
                introducing
                Nippon Individual Savings Accounts (NISA) in 2001 and recently aiming to double enrollment to 34 million
                investors by the end of the decade. This effort necessitates expanding Japan's capital markets,
                historically
                underutilized by retail investors.
            </p>
            <p>
                Japan's initiative is part of a broader global trend. For instance, {{company_name.name}}'s joint venture, Jio
                {{company_name.name}}, with Jio Financial Services in India, aims to leverage India's extensive digital
                infrastructure
                to enhance retirement investing and other financial services. India, like many countries worldwide, is
                also
                grappling with aging demographics, albeit on a different timeline — much like Brazil, Mexico, and others
                facing shifts in workforce dynamics over the coming decades.
            </p>
            <p class="principles-text">
                As populations age, there has never been a more pressing need to prioritize building retirement savings.
            </p>
            <div>
                <img src="{% static 'images/chart.webp' %}" width="100%" alt="">
            </div>
            <br>
            <small>
                Source: Working-age population (ages 15-64): UN “medium trend
            </small>
            <p>
                By the midpoint of this century, one out of every six people worldwide will be over the age of 65, a
                significant increase from one in eleven in 2019. To adequately support this demographic shift,
                governments will need to prioritize developing robust capital markets, similar to those seen in the U.S.
            </p>
            <p>
                However, this isn't to suggest that the U.S. retirement system is flawless. It's widely acknowledged
                that the American retirement system requires updating, at the very least.
            </p>

            <h1>
                A final note on retirement
            </h1>
            <p>
                Over the past few years, {{company_name.name}} has transformed from a small team of eight in a modest Manhattan
                office
                into the largest asset manager globally. Yet, our growth is just one facet of a much broader success
                narrative.
            </p>
            <p>
                It's the same narrative that enabled my parents to retire comfortably after five decades of hard work.
                It's
                the narrative where America persevered through the 1980s S&L crisis and the 2008 financial crisis,
                rebounding swiftly and with greater resilience.
            </p>
            <p>

                This narrative, I hope, will extend to encompass more people worldwide: nations overcoming debt burdens,
                cities expanding infrastructure, and workers enjoying dignified retirements.

            </p>

            <p>
                All of these achievements are made possible by the transformative power of capital markets and the
                optimism
                of those who invest in them.
            </p>
        </div>
    </div>
</div>
{% endblock %}