{% extends 'base/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div style="background-image: url('/static/images/satellites.jfif'); padding: 10%; background-size: cover;">
        <h1 style="display: flex; justify-content: center; color: whitesmoke; font-size: 50px;">
            Global Newsroom
        </h1>
    </div>
    <div class="container">
        <h1>
            Our resources for journalists
        </h1>
        <p>
            Read our latest press releases, learn about Kaizen executives, find contacts for media inquiries and
            more. For local market product announcements, please click on the country links down below.
        </p>
    </div>
    <div class="container">
        <h1>
            Public Policy
        </h1>
        <p class="about-text">
            As an important part of our fiduciary duty to our clients, Kaizen advocates for public policies that we
            believe are in our investors’ long-term best interests.
        </p>
        <h3>
            Transparency, regulation and protecting investors
        </h3>
        <p>
            We support the creation of regulatory regimes that increase financial market transparency, protect investors, and facilitate responsible growth of capital markets, while preserving consumer choice and properly balancing benefits versus implementation costs.
        </p>
        <p>
            We comment on public policy topics through our ViewPoints series of papers, which examine public policy issues and assess their implications for investors, and through letters and consultations that we periodically submit to policymakers.
        </p>
        <p>
            Read more about Kaizen’s Public Policy Engagement & Political Activities Policies.
        </p>
    </div>
    {% endblock %}
</body>

</html>